.grid {
  display: grid;
  column-gap: 16px;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
}

@media (min-width: 751px) and (max-width: 1124px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1125px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

  .preview {
    margin-bottom: 10px;
    position: relative;
  }
  
  .thumbnail {
    width: 100%;
  }

  .title {
    font-size: 14px;
    font-family: roboto;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .author {
    color: #606060;
    font-size: 12px;
    margin-bottom: -8px;
  }

  .stats {
    color: #606060;
    font-size: 12px;
    display: inline-block;
  }

  .content {
    display: grid;
    grid-template-columns: 45px 1fr;
    width: 100%;
  }

  .avataricon {
    width: 35px;
    border-radius: 100%;
  }

  .text-content{
    width: 300px;
  }

  .video-time{
    position: absolute;
    font-family: Roboto, arial;
    font-size: 11.5px;
    font-weight: 500;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 10px;
    right: 5px;
    padding: 4px 4px 4px 4px;
    border-radius: 2.1px;
  }

